header {
  padding: 206px 0 150px;
}

section {
  padding: 150px 0;
}

h3 .subtitle{
    font-weight: 300 !important;
    text-transform: none;
}

#bg-header {
  background-image: url("/images/heroIMG.jpg");
  background-size: cover;
  background-position: center;
}

#events {
  color: #ffffff;
}

#sponsors {
}

#contact {
    background-image: url("/images/contact-heroIMG.jpg");
    background-size: cover;
    background-position: center;
    color:#ffffff;
}
