.navbar-default{
  transition:200ms ease;
  background:transparent;
}

.navbar-default.scrolled{
  background-color: #bb9eca;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.18);
}

header {
  padding: 206px 0 150px;
}

.header-content h1{
    font-family: 'Oleo Script Swash Caps', cursive;
    text-transform: none!important;
    font-weight: 400!important;
    font-size: 3.2rem;
    color: #E7F59E;
}

.header-content h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important;
    text-transform: none;
    color: fff;
}

section {
  padding: 90px 0;
}

#bg-header {
  background-image: url("/images/heroIMG.jpg");
  background-size: cover;
  background-position: center;
}

#events {
  color: #ffffff;
}

#sponsors {
    background-color: #f7f7f7;
}

#contact {
    background-image: url("/images/contact-heroIMG.jpg");
    background-size: cover;
    background-position: center;
    color:#ffffff;
}

.team {
    background-color:#f3f3f3;
    border-radius:2rem;
    padding-bottom:50px;
    margin: 50px 50px 0 50px;
}
.event:nth-of-type(odd){
  background-color: #f3f3f3;
  border-left: 10px #8E5EA7 solid;
}

.event:nth-of-type(even){
  background-color: #ffffff;
  border-left: 10px #BB9ECA solid;
}

.event{
    padding: 15px;
    color: #162521;
}

.date{
    @media (min-width: 769px) {
        font-size: 3.5rem;
    	font-weight: 300;
    	line-height: 1.2;
    }
}
