header {
  padding: 206px 0 150px;
}

section {
  padding: 150px 0;
}

#bg-header {
  background-image: url("heroIMG.jpg") !important;
  background-size: cover;
  background-position: center;
  h3 {
    font-weight: 300;
    font-style: italic;
  }
}

#events {
  color: #ffffff;
}

#sponsors {
    h5 {
        color:#a078b5;
    }
}

#contact {
    background-image: url("/images/contact-heroIMG.jpg");
    background-size: cover;
    background-position: center;
    color:#ffffff;
}
